{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2 class="mx-3"><strong>All Posts</strong></h2>
    
    <div class="mx-3 border" id="new_post_view">
        <div class="m-3">
            <form action="{% url 'new_post' %}" id="form-post" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label><strong>New Post</strong></label>
                    <textarea class="form-control" name="content" id="form-content"></textarea>
                    <button class="btn btn-primary mt-2">Post</button>
                </div>
            </form>
        </div>
    </div>

    <div class="all_post mx-3 mt-3">
        {% for post in page_obj %}
        <div class="card mb-3">
            <div class="card-body">
              <a href="{% url 'profile' post.user.id %}"><strong>@{{ post.user }}</strong></a>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text text-muted">{{ post.date }}</p>
              {% if user == post.user %}
                <div class="align-items-end">
                    <button class="btn btn-secondary btn-sm">Edit</button>
                </div>
                <div class="modal" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Modal body text goes here.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination mx-3">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <span class="current">
                <li class="page-item page-link">{{ page_obj.number }}</li>
            </span>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}