{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2 class="mx-3"><strong>All Posts</strong></h2>
    
    <ul class="list-group list-group-horizontal mx-3">
        <li class="list-group-item list-group-item-secondary">{{ following.count }} Following</li>
        <li class="list-group-item list-group-item-secondary">{{ followers.count }} Followers</li>
    </ul>

    <div class="all_post mx-3 mt-3">
        {% for post in all_post %}
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><strong>{{ post.user }}</strong></h5>
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text text-muted">{{ post.date }}</p>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}